body{
    background-color: black;
}
.card{
    width: 393px;
    height: auto;
    background-color: #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    margin-top: 1.94rem;
}
.cream{
    font-family: "Italianno";
    font-weight: 300;
    font-size: 48px;
    margin-left: 1rem;
}
.product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.button{
    width: 82px;
    height: 29px;
    background: linear-gradient(
        45deg,
        #E900A3,
        #FF3030
    );
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-card{
    width: 150px;
    height: 197px;
}
.cream2{
    text-align: center;
}
.back{
    width: 5.7rem;
    height: 1.99rem;
    color: white;
    text-decoration: none;
    background: linear-gradient(
        45deg,
        #E900A3,
        #FF3030
    );
    border-radius: 1.66px;
    display: block;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.buy{
    color: white;
    text-decoration: none;
    background: linear-gradient(
        45deg,
        #E900A3,
        #FF3030
    );
    border-radius: 1.66px;
    border: none;
    width: 5.7rem;
    height: 1.99rem;
    margin-left: 3rem;
}
.cotton-candy{
    display: block;
    margin: auto;
}
.strawberry{
    width: 8rem;
}

@media only screen and (max-width:375px){
    .card{
        width: 100%;
        height: auto;
        background-color: #F9F9F9;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1rem;
        margin-top: 0;
}

    .wallpaper{
        width: 95%;
    }

    .product-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
}

}
 
.button-links{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 1rem;
}