*::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #EDEAEA;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow: auto;
    height: 30rem;
}
.button{
    height: 78px;
    width: 314px;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: fuchsia;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: none;
    flex: 0 0 auto;
}
.header-text{
    font-style: italic;
}